*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul {list-style: none;}
li{ font-size: 1.25em;}

button{
font-size: 1.5em;
font-weight: bold;
padding: 10px 30px;
border-radius: 10px;
border: 2px solid black;
box-shadow: 2px 2px 10px black;
color: rgb(255, 255, 255);
background-color: orange;
}

button:hover{
    background-color: rgb(192, 126, 3);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{Color:orange; }

header{
    background-color: rgb(245,245,245);
    padding: 0.5px 300px;
}

header .logo{
    margin: 0;
    padding: 20px 12px;
    font-weight: bold;
    color:orange;
    font-size: 1.6em;
}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 70px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:rgb(187, 122, 1)
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 150vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/ChatGPT\ Image\ 22\ jul\ 2025\,\ 09_32_10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
color:rgb(255, 255, 255);
}

#hero button{
    font-size: 1.75em;
}

#somos-Rentaplus .container {
    text-align: center;
    padding: 80px 12px 80px 12px; /* 80px arriba y abajo, 12px a los lados */
}

#Algunos-de-nuestros-productos{
    background-color: rgb(38,38,38);
    color: white;
    text-align: center;
}

#Algunos-de-nuestros-productos .container{
    padding: 120px 12px;

}

#Algunos-de-nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Algunos-de-nuestros-productos p{
    display: none;
}

#Algunos-de-nuestros-programas .carta{
background-position: center center;
background-size: cover;
}

.carta:first-child{
background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
)
,url("imagenes/ConsolaPlayStation5PRO-05.webp");
background-position: center center;
background-size: cover;
padding: 100px 30px;
margin: 40px;
border-radius: 25px;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/images.jfif");
    background-position: center center;
background-size: cover;
padding: 100px 0px;
margin: 100px;
border-radius: 25px;
    }

.carta:nth-child(3){
  background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Imagen1.png");
    background-position: center center;
background-size: cover;
padding: 150px 0px;
margin: 60px;
border-radius: 25px;
}

#caracteristicas .container{
text-align: center;
padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#Aplica-ya{
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Canva\ Design.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Aplica-ya h2{
    font-size: 9vw;
}

#Aplica-ya button{
    font-size: 5vw;
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}


footer .container{
height: 100px;
display: flex;
justify-content: center;
align-items: flex-end;
}

@media (min-width:720px){
    header{
    position: fixed;
    }

    header .container{
    flex-direction: row;
    justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }
    #somos-Rentaplus .container{
        display: flex;
        justify-content: space-between;

    }

    #somos-Rentaplus .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #somos-Rentaplus h2{
        margin-top: 20px;
    }

    #somos-Rentaplus .img-container{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("imagenes/barista-en-la-barra.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 400px;
    }

    #Algunos-de-nuestros-productos .programas{
        display: flex;
        justify-content: center;
    }

    #Algunos-de-nuestros-productos p{
        display: block;
        margin-bottom: 30px;
    }

    #Algunos-de-nuestros-productos h3{
        margin-top: 0;
    }

    #caracteristicas{
        background-image: url("imagenes/png-transparent-customer-technical-support-customer-service-call-centre-information-technology-nose-text-male-conversation-communication.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: calc(100vw - 500px) 120px;
    }   

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{margin-left: 100px;
    }

    #Aplica-ya h2{
        font-size: 5em;
        margin-bottom: 10px;
    }
    
    #Aplica-ya h3{
        margin-top: 0;
    }

    #Aplica-ya button{
        font-size: 2em;
    }
    
    footer .container{
        justify-content: flex-end;
    }

}
 
@media (min-width:1200px){
 #caracteristicas{
    background-position-x: calc(100vw - 800px);
 }
 
}


